html, body, div, span, a, p, ul, li, h1, code, nav {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: white;
    background: transparent;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
html, body { height: 100%; }
html { background-color: rgb(0, 0, 0); }
#root {
    background-image: url(assets/bg.jpg);
    background-size:cover;
    min-height: 100%;
}

/*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
otherwise there is a phantom div on the right side of the screen (from the left:50vw),
that the window will scroll to. Note the left:50vw and transform is used to center content
horizaontally based on vw to prevent content jump when vertical scroll bar show/hide.*/
body { overflow-x: hidden; }

.activeNav{
    color: cyan;
}

nav{
    margin-top: 1em;
    margin-bottom: 1em;
}

nav span a{
    padding: 1em;
    border: 1px;
}
nav span:first-child a{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
nav span:last-child a{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}