html, body, div, span, a, p, ul, li, h1, code, nav {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: black;
    background: transparent;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
html, body { height: 100%; }
html { background-color: rgb(0, 0, 0); }
#root {
    background-image: url(assets/bg.jpg);
    background-size:cover;
    min-height: 100%;
    background-attachment: fixed;
}

/*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
otherwise there is a phantom div on the right side of the screen (from the left:50vw),
that the window will scroll to. Note the left:50vw and transform is used to center content
horizaontally based on vw to prevent content jump when vertical scroll bar show/hide.*/
body { overflow-x: hidden; }

code{
  font-family: monospace;
}

.appRoot{
  font-family: helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  /* letter-spacing: 0.025em; */
  padding: 3vh 0 3vh 0;
  width: 70%;
  margin: 0 auto;
  /* use responsive max-width to simulate padding/margin to allow
  space for vertical scroll bar without creating horizontal scroll bar
  (if there is padding, the window will scroll horizontally to show the padding) */
  max-width: calc(100vw - 40px);
  text-size-adjust: none;
}

.logo{
    width: 200px;
    margin-bottom: -1ex;
    margin-left: 1em;
    margin-right: 1em;
}

.activeNav{
    color: cyan;
}

nav{
    margin-top: 3ex;
    margin-bottom: 1em;
    /* margin: 3vh 1em; */
    display: inline-block;
}

nav a{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1ex 2ex;
    border: 1px solid grey;
    color: white;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
}
nav a:first-child{
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}
nav a:last-child{
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.appContent{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 1vh;
    border: 2px solid rgb(148, 148, 148);
    padding: 3vh;
    color: black;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: x-large;
    color: rgb(0, 142, 189);
    margin-bottom: 1em;
}

.container {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.caption{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1ex 2ex;
  border-radius: 0.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.buttonCarousel{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border-radius: 1vh;
  color: white;
  border: none;
  width: 5%;
}

.buttonBack {
  left: 0;
}

.buttonNext {
  right: 0;
}

.buttonCarousel img {
  width: 100%;
}


.dotGroup {
  border: none;
  text-align: center;
}

.dotGroup button{
    background-color: white;
    border-width: 1px;
}

.dotGroup button.carousel__dot--selected{
  background-color: black;
}